@import 'icon/*.png';
@include all-icon-sprites;
@import url('https://fonts.googleapis.com/css?family=Francois+One|Lobster');

html{
  background-color: $backgroundcolor;
}
.container{
  max-width: 960px;
  background-color: white;
  margin: 0 auto;
  ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    li{
      font-size: 1.5em;
      font-family: 'Francois One', sans-serif;
      display: flex;
      flex-flow: column;
      align-items: center;
    }
  }
}
h1{
  font-size: 2em;
  font-family: 'Lobster', cursive;
  margin-top: 30px;
  display: flex;
  flex-flow: row;
  justify-content: center;
}
li {
  list-style:none;
  display: inline-block;
  padding: 10px;
    a {
      display: inline-block;
      width: 256px;
      height: 256px;
      

      span {
        position: absolute;
        top: -9999em;
        left: -9999em;
        
      }//go
  }//icons
}//li
hr{
  width: 90%;
  height: 3px;
  margin: auto;
}
.hexagon {
  position: relative;
  width: 300px; 
  height: 173.21px;
  background-color: #ffffff;
  margin: 86.60px 0;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 86.60px solid #ffffff;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 86.60px solid #ffffff;
}
// why...